.Paragraph_Small{
  font-size: 0.8rem;
  line-height: 0.9rem;
  font-weight: 100;
}
.Paragraph_Medium{
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.3rem;
}

.Heading_1{
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 600;  
}

html,
body {
  font-size: 14px;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-display: swap;
}

@media (min-width: 750px) {
  html,
  body {
    font-size: 0.94vw;
  }
}
@media (min-width: 1440px) {
  html,
  body {
    font-size:1vw;
  }
}
@media (min-width: 2500px) {
  html,
  body {
    font-size:18px;
  }
}